# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
working manually/index.html
working manually/manifest.webmanifest
working manually/mario.png
working manually/registerSW.js
working manually/robots.txt
working manually/sw.js
working manually/vite.svg
working manually/workbox-3e911b1d.js
working manually/assets/index-Cc53zcn5.js
working manually/assets/index-FoxewIMX.css
