@font-face {
  font-display: swap;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs169vsUZiZQ.woff2)
    format("woff2");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:  0.325s all linear;

}

.circle {
  transition: stroke 0.325s linear;
  transition: fill 0.325s linear;
}

.fillT {
  transition: fill 0.325s linear;
}

.innerSettings {
  display: flex;
  justify-content: center;
}
.fadeIn {
  animation: fadeInAnimation 0.325s linear;
}

.bottomBar {
  display: flex;
  justify-content: left;
  margin-top: 25px;
  margin-left: 25px;
  width: 480px;
}

.innerTask {
  -webkit-transition: 0.2s -webkit-filter linear;
  -moz-transition: 0.2s -moz-filter linear;
  -moz-transition: 0.2s filter linear;
  transition: 0.2s filter linear;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(30%);
  }
}

body {
  display: flex;
  place-items: center;
}


#app {
  text-align: left;
  font-family: "Oswald";
}


